/01. Basic Python/.ipynb_checkpoints
/02. Data Preprocessing/.ipynb_checkpoints
/03. Research Data Analysis/.ipynb_checkpoints
/04. Statistical data analysis/.ipynb_checkpoints
/05. Main Project - 1/.ipynb_checkpoints
/07. Business Metrics Analysis/.ipynb_checkpoints
/08. Business Decisions/.ipynb_checkpoints
/09. Tell The Story With Data/.ipynb_checkpoints
/10. Main Project - 2/.ipynb_checkpoints
/11. Автоматизация
/12. Основы машинного обучения
/13. Выпускной проект

*.csv

*review*.ipynb