/01. Basic Python/.ipynb_checkpoints
/02. Data Preprocessing/.ipynb_checkpoints
/03. Research Data Analysis/.ipynb_checkpoints
/04. Statistical data analysis/.ipynb_checkpoints
/05. Main Project - 1/.ipynb_checkpoints
/07. Business Metrics Analysis/.ipynb_checkpoints
/08. Business Decisions/.ipynb_checkpoints
/09. Tell The Story With Data/.ipynb_checkpoints
/10. Main Project - 2/.ipynb_checkpoints
/11. Автоматизация
/12. Основы машинного обучения
/13. Выпускной проект

*.csv
/02. Data Preprocessing/credit_scoring_project_with_review_comments.ipynb
/03. Research Data Analysis/sale_apartments_analysis_review_comments.ipynb
/04. Statistical data analysis/mobile_tariff_analysis_review_comments.ipynb
/05. Main Project - 1/game_raiting_project_review_comments.ipynb
/07. Business Metrics Analysis/business_metrics_mobile_app_viewer_comments.ipynb
/08. Business Decisions/internet_store_ab_test_review_comments.ipynb
/09. Tell The Story With Data/restaurant_analysis_review_comments.ipynb
/10. Main Project - 2/fonts_ab_test_project_review_comments.ipynb

*review*.ipynb